<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="untiy.mapper.ActivityApproveFlowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="untiy.entity.ActivityApproveFlow">
        <id column="id" property="id" />
        <result column="activity_id" property="activityId" />
        <result column="step" property="step" />
        <result column="approve_role_id" property="approveRoleId" />
        <result column="approve_user_id" property="approveUserId" />
        <result column="approve_result" property="approveResult" />
        <result column="approve_opinion" property="approveOpinion" />
        <result column="approve_time" property="approveTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, activity_id, step, approve_role_id, approve_user_id, approve_result, approve_opinion, approve_time, create_time
    </sql>

</mapper>
